@import url('https://use.typekit.net/cbg5juo.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font-secondary: 'ff-real-text-pro', sans-serif;
}

@layer base {
   :root {
      --color-black: 10 10 15;
      --color-white: 252 249 248;
   }
   :root[data-theme='dark'] {
      --color-primary: 30 30 30;
      --color-secondary: 40 209 194;
      --color-secondary-rgb: 182, 209, 194;
      --color-focus: 154, 152, 152;
   }
   :root[data-theme='light'] {
      --color-primary: 249 246 238;
      --color-secondary: 18 12 15;
      --color-secondary-rgb: 18, 12, 15;
      --color-focus: 154, 152, 152;
   }

   ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
   }
   ::-webkit-scrollbar-track {
      background-color: rgba(var(--color-secondary-rgb), 0.2);
      margin-block: 2px;
   }
   ::-webkit-scrollbar-thumb {
      background-color: rgba(var(--color-secondary-rgb), 1);
      width: 1rem;
      height: 1rem;
      border: none;
   }

   @supports (scrollbar-color: #ccc #fff) {
      & > * {
         scrollbar-color: #ccc #fff;
         scrollbar-width: thin;
      }
   }

   p {
      @apply text-bodyLarge;
      @apply mb-8;
   }

   /* MAX WIDTH WRAPPER */

    .max-width-wrapper{
      @apply max-w-desktop mx-auto px-4 lg:px-8;
    }

   /* KEYBOARD FOCUS */

   /* *:focus-visible {
      background-color: rgba(var(--color-secondary-rgb), 0.3);
      outline: none;
      > * {
         color: rgba(var(--color-secondary-rgb), 1);
      }
   } */
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   font-weight: 200;
   -webkit-font-smoothing: antialiased;
   transition: background-color 0.2s linear;
}

a {
   text-decoration: none;
   color: var(--color-secondary);
   transition: color 0.2s linear;
}

a:hover {
   color: var(--color-faded);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
a {
   font-family: var(--font-primary) sans-serif;
   overflow-wrap: break-word;
}



button {
   cursor: pointer;
}

textarea {
   resize: none;
}

/* TAILWIND WORKAROUNDS */

.custom-min-h-screen {
   min-height: 100vh;
   min-height: 100svh;
}

.custom-min-w-screen{
   min-width: 100vw;
}

.logo {
   font-size: 13vw;

   @media screen and (min-width: 768px) {
      font-size: clamp(3rem, 14vw, 12rem);
   }
}

.navbar-home {
   @apply bottom-8 right-0 w-1/2 flex flex-col items-start gap-2 z-100;
}

.navbar-page {
   @apply fixed top-0 right-0 w-screen h-screen z-100;
}

.navbar-page :first-child {
   @apply fixed top-0 left-0;
}

.navbar-page :nth-child(2) {
   @apply fixed top-0 right-0;
}

.navbar-page :nth-child(3) {
   @apply fixed bottom-0 left-0;
}

.navbar-page :nth-child(4) {
   @apply fixed bottom-0 right-0;
}

