@import url("https://use.typekit.net/cbg5juo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-secondary: "ff-real-text-pro", sans-serif;
}

@layer base {
	:root {
		--color-black: 3 30 27;
		--color-white: 182 209 194;
	}
	:root[data-theme="dark"] {
		--color-primary: 3 30 27;
		--color-secondary: 182 209 194;
		--color-primary-rgb: 3, 30, 27;
		--color-secondary-rgb: 182, 209, 194;
		--color-focus: 154, 152, 152;
	}
	:root[data-theme="light"] {
		--color-primary: 249 246 238;
		--color-secondary: 18 12 15;
		--color-secondary-rgb: 18, 12, 15;
		--color-focus: 154, 152, 152;
	}

	*::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}
	#page-wrapper::-webkit-scrollbar-track {
		background-color: rgba(var(--color-secondary-rgb), 0.2);
		-webkit-box-shadow: none;
	}
	#page-wrapper::-webkit-scrollbar-thumb {
		background-color: rgba(var(--color-secondary-rgb), 0.5);
		width: 1rem;
		height: 1rem;
		-webkit-box-shadow: none;
	}

	#projects-menu::-webkit-scrollbar {
		width: 1px;
		height: 1px;
	}

	#projects-menu::-webkit-scrollbar-track {
		background-color: rgba(var(--color-secondary-rgb), 0.2);
		-webkit-box-shadow: none;
	}
	#projects-menu::-webkit-scrollbar-thumb {
		background-color: rgba(var(--color-secondary-rgb), 0.5);
		width: 1rem;
		height: 1rem;
		-webkit-box-shadow: none;
	}

	/* @supports (scrollbar-color: #ccc #fff) {
		* {
			scrollbar-color: rgba(var(--color-secondary-rgb), 0.2)
				rgba(var(--color-secondary-rgb), 0.2);
			scrollbar-width: thin;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	} */

	p {
		@apply text-bodyMedium;
	}

	/* MAX WIDTH WRAPPER */

	.max-width-wrapper {
		@apply max-w-desktop mx-auto px-4 lg:px-8;
	}

	/* PLAYER SLIDER THUMB */
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 6px; /* width of the thumb */
		height: 20px; /* height of the thumb */
		background: rgba(var(--color-secondary-rgb), 1); /* thumb color */
		cursor: pointer; /* cursor type on hover */
	}

	input[type="range"]::-moz-range-thumb {
		width: 20px;
		height: 20px;
		background: rgba(var(--color-secondary-rgb), 1);
		cursor: pointer;
	}

	/* KEYBOARD FOCUS */

	/* *:focus-visible {
      background-color: rgba(var(--color-secondary-rgb), 0.3);
      outline: none;
      > * {
         color: rgba(var(--color-secondary-rgb), 1);
      }
   } */
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	transition: background-color 0.2s linear;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
a {
	font-family: var(--font-primary) sans-serif;
	overflow-wrap: break-word;
}

textarea {
	resize: none;
}

/* TAILWIND WORKAROUNDS */

.custom-min-h-screen {
	min-height: 100vh;
	min-height: 100svh;
}

.custom-min-w-screen {
	min-width: 100vw;
}

.logo {
	font-size: 13vw;
	line-height: 0.8;

	@media screen and (min-width: 768px) {
		font-size: clamp(3rem, 13.5vw, 14rem);
		line-height: 0.8;
	}
}

.underlined-link {
	@apply inline-block uppercase relative overflow-x-clip w-fit text-secondary no-underline;
}

.underlined-link::after {
	@apply content-[''] absolute z-50 bottom-[2px] left-0 w-full h-[1px] bg-secondary transition-transform duration-300 -translate-x-[102%];
}

.underlined-link:hover::after,
.active.underlined-link::after {
	@apply translate-x-0;
}

.custom-button-rounded {
	@apply inline-block text-bodyMedium lg:text-titleLarge uppercase rounded-full border border-secondary px-4 py-2;
}
